header {
    background-color: black;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 9px 3px #ccc;
    font-family: 'Times, Serif';
    img {
        width: 250px;
    }
    h1 {
        font-size: 7rem;
    }
}
